In [52]:
import numpy as np
import pandas as pd
import seaborn as sns

In [53]:
data=pd.read_csv('Downloads/Train_Data.csv')
data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [54]:
data_test=pd.read_csv('Downloads/Test_Data.csv')
data_test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0

In [55]:
n=1
data['adgroup'] = data['adgroup'].replace('adgroup 1', n)
n=2
data['adgroup'] = data['adgroup'].replace('adgroup 2', n)
n=3
data['adgroup'] = data['adgroup'].replace('adgroup 3', n)
n=4
data['adgroup'] = data['adgroup'].replace('adgroup 4', n)
print(data.head)

n=1
data_test['adgroup'] = data_test['adgroup'].replace('adgroup 1', n)
n=2
data_test['adgroup'] = data_test['adgroup'].replace('adgroup 2', n)
n=3
data_test['adgroup'] = data_test['adgroup'].replace('adgroup 3', n)
n=4
data_test['adgroup'] = data_test['adgroup'].replace('adgroup 4', n)
data.head

<bound method NDFrame.head of             date    campaign  adgroup     ad  impressions  clicks  cost  \
0     01-08-2020  campaign 1        1   ad 1           24       6  0.08
1     01-08-2020  campaign 1        2   ad 1            1       0  0.00
2     01-08-2020  campaign 1        3   ad 1           13       4  0.04
3     01-08-2020  campaign 1        4   ad 1            5       4  0.08
4     01-08-2020  campaign 1        1   ad 2          247     126  1.29
...          ...         ...      ...    ...          ...     ...   ...
4566  28-02-2021  campaign 1        3  ad 55           19       6  0.07
4567  28-02-2021  campaign 1        4  ad 55            1       0  0.00
4568  28-02-2021  campaign 1        3  ad 56           16       8  0.12
4569  28-02-2021  campaign 1        1  ad 56           37      13  0.23
4570  28-02-2021  campaign 1        1  ad 55           19      10  0.14

      conversions  revenue
0               0     0.00
1               0     0.00
2               0     0.00
3               0     0.00
4               4   925.71
...           ...      ...
4566            0     0.00
4567            0     0.00
4568            1    93.20
4569            0     0.00
4570            0     0.00

[4571 rows x 9 columns]>

<bound method NDFrame.head of             date    campaign  adgroup     ad  impressions  clicks  cost  \
0     01-08-2020  campaign 1        1   ad 1           24       6  0.08
1     01-08-2020  campaign 1        2   ad 1            1       0  0.00
2     01-08-2020  campaign 1        3   ad 1           13       4  0.04
3     01-08-2020  campaign 1        4   ad 1            5       4  0.08
4     01-08-2020  campaign 1        1   ad 2          247     126  1.29
...          ...         ...      ...    ...          ...     ...   ...
4566  28-02-2021  campaign 1        3  ad 55           19       6  0.07
4567  28-02-2021  campaign 1        4  ad 55            1       0  0.00
4568  28-02-2021  campaign 1        3  ad 56           16       8  0.12
4569  28-02-2021  campaign 1        1  ad 56           37      13  0.23
4570  28-02-2021  campaign 1        1  ad 55           19      10  0.14

      conversions  revenue
0               0     0.00
1               0     0.00
2               0     0.00
3               0     0.00
4               4   925.71
...           ...      ...
4566            0     0.00
4567            0     0.00
4568            1    93.20
4569            0     0.00
4570            0     0.00

[4571 rows x 9 columns]>

In [56]:
n=1
data['campaign'] = data['campaign'].replace('campaign 1', n)
print(data.head)

n=1
data_test['campaign'] = data_test['campaign'].replace('campaign 1', n)
data_test.head

<bound method NDFrame.head of             date  campaign  adgroup     ad  impressions  clicks  cost  \
0     01-08-2020         1        1   ad 1           24       6  0.08
1     01-08-2020         1        2   ad 1            1       0  0.00
2     01-08-2020         1        3   ad 1           13       4  0.04
3     01-08-2020         1        4   ad 1            5       4  0.08
4     01-08-2020         1        1   ad 2          247     126  1.29
...          ...       ...      ...    ...          ...     ...   ...
4566  28-02-2021         1        3  ad 55           19       6  0.07
4567  28-02-2021         1        4  ad 55            1       0  0.00
4568  28-02-2021         1        3  ad 56           16       8  0.12
4569  28-02-2021         1        1  ad 56           37      13  0.23
4570  28-02-2021         1        1  ad 55           19      10  0.14

      conversions  revenue
0               0     0.00
1               0     0.00
2               0     0.00
3               0     0.00
4               4   925.71
...           ...      ...
4566            0     0.00
4567            0     0.00
4568            1    93.20
4569            0     0.00
4570            0     0.00

[4571 rows x 9 columns]>

<bound method NDFrame.head of            date  campaign  adgroup     ad  cost  impressions  clicks  \
0    01-03-2021         1        1   ad 1  0.58          121      49
1    01-03-2021         1        3   ad 1  0.17           22      12
2    01-03-2021         1        4   ad 1  0.05            5       3
3    01-03-2021         1        2   ad 1  0.01            2       1
4    01-03-2021         1        2   ad 2  0.01            3       1
..          ...       ...      ...    ...   ...          ...     ...
313  15-03-2021         1        4  ad 55  0.01            1       1
314  15-03-2021         1        3  ad 55  0.01            5       1
315  15-03-2021         1        1  ad 55  0.14           25      11
316  15-03-2021         1        3  ad 56  0.06            9       4
317  15-03-2021         1        1  ad 56  0.33           67      27

     conversions
0              1
1              0
2              0
3              0
4              0
..           ...
313            0
314            0
315            0
316            0
317            1

[318 rows x 8 columns]>

In [57]:
data['date'] = pd.to_datetime(data['date'])

data['Month'] = data['date'].dt.month
data['Day of the month'] = data['date'].dt.day
data['Year'] = data['date'].dt.year

data = data.drop(['date'], axis=1)

In [58]:
data_test['date'] = pd.to_datetime(data_test['date'])

data_test['Month'] = data_test['date'].dt.month
data_test['Day of the month'] = data_test['date'].dt.day
data_test['Year'] = data_test['date'].dt.year

data_test = data_test.drop(['date'], axis=1)

In [59]:
from sklearn.model_selection import train_test_split

X=data.drop(['ad','revenue'],axis=1)
tst=data_test.drop(['ad'],axis=1)
y=data['revenue']

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [60]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestRegressor()
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [61]:
ans = clf.predict(tst)

In [62]:
submit=pd.DataFrame(ans)
submit[submit<0]=0
submit=ans

In [63]:
prediction = pd.DataFrame(ans, columns=['revenue']).to_csv('answer2.csv')